/* commons */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
}

.container{
    margin: 0 auto;
    width: 95%;
    
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}





/*  nav bar  */

nav{
    position: fixed;
    width: 95%;
    height: 60px;
    background-color: white;
}

nav #nav-left, #nav-right{
    width: 50%;
    height: 60px;
}

nav #nav-left{
    float: left; 
}

nav #nav-right{
    float: right;
    text-align: right;
}

nav ul li, a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 11pt;
    line-height: 60px;
    margin: 0 5px;
    padding: 0px 10px;
}

nav ul li a, a img {
    vertical-align: middle;
    margin-left: 0;
}

nav ul li a:hover{
    background-color: rgb(235, 235, 235);
}





/* jumbotron */

.jumbotron{
    width: 100%;
    height: 500px;
}

#sfondo-azzurro{
    background-color: rgb(180 208 231);
    height: 450px;
}

#sezione1{
    width: 80%;
    margin: 0 auto; 
}

#sezione2{
    width: 80%;
    margin: 0 auto;
}

#sezione3{
    width: 80%;
    margin: 0 auto;
}

#sezione4{
    width: 100%;
    margin: 0 auto;
}

#sezione5{
    width: 80%;
    margin: 0 auto;
}

footer{
    width: 100%;
    background-color: black;
}



/* ***** debug ***** */

/* .debug nav{
    background-color: rgb(64, 223, 223);
}

.debug #nav-left, .debug #nav-right{
    background-color: blue;
} */

.debug .jumbotron{
    background-color: coral;
}

.debug main #sezione1{
    background-color: rgb(79, 212, 79);
    height: 700px;
}

.debug main #sezione2{
    background-color: rgb(165, 216, 45);
    height: 400px;
}

.debug main #sezione3{
    background-color: rgb(216, 65, 45);
    height: 500px;
}

.debug main #sezione4{
    background-color: rgb(243, 61, 167);
    height: 500px;
}

.debug main #sezione5{
    background-color: rgb(61, 161, 243);
    height: 300px;
}


.debug footer {
    height: 500px;
}