/* commons */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;

}

.container{
    margin: 0 auto;
    width: 95%;

}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.blu{
    color: white;
    background-color: rgb(0, 97, 255);
}

.btn {
    text-decoration: none;
}

a{
    color: black;
    text-decoration: none;
}



.btn:hover{
    background-color: rgb(53, 116, 209);
}



/*  nav bar  */

header{
    width: 95%;
    height: 60px;
    line-height: 58px;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    z-index: 100;
}

nav#main-nav ul:first-child{
    float: left;
}

nav#main-nav ul:last-child{
    float: right;
}

nav#main-nav li{
    display: inline-block;
    list-style: none;
}

nav#main-nav li.last a.btn{
    display: inline;
    padding: 5px 15px;
}

nav#main-nav li:hover{
    display: inline-block;
    list-style: none;
    background-color: rgb(214, 214, 214);
}

nav#main-nav li#logo:hover,
nav#main-nav li.last:hover{
    background-color: white;
}


#logo img{
    vertical-align: text-bottom;
}

#main-nav a{
    margin: 0px 15px;
    font-size: 10pt;
}



/* sottomenù  */

nav#main-nav ul li ul{
    display: none;
}

nav#main-nav ul li:hover ul{
    display: block;
    position: absolute;
    z-index:1;
    width:500px;
    padding: 0;
    margin: 0 0 0 -1px;
    background-color: rgb(214, 214, 214);
    line-height: 2.5;
}


nav#main-nav ul li ul a{
    padding: 7px 7px;
}

nav#main-nav ul li:hover ul#stmenù li#titoletto{
    font-size: 10pt;
    margin: 0 0 0 20px;
}

nav#main-nav ul#stmenù li a:hover{
    background-color: rgb(143, 142, 142);
}

nav#main-nav li li { 
   float: left;
    width:300px;
}



/* jumbotron */

.jumbotron{
    width: 100%;
    height: 700px;
    background-color: rgb(180, 208, 231);
    padding-top: 150px;
    padding-left: 110px;
    padding-right: 70px;

}

.titolo h1{
   font-size: 45pt;
   margin-bottom: 50px;
}

#textjumbo{
    width: 40%;
    float: left;
    margin-left: 0;
    padding: 0;
}

#textjumbo p{
    font-size: 11pt;
    margin-bottom: 20px;
    margin-top: 10px;
}

section #textjumbo div.btn.blu{
    display: inline-block;
    height: 45px;
}

section #textjumbo div.btn.blu a{
    font-size: 11pt;
    color: white;
    line-height: 45px;
    text-align: center;
    padding: 5px 15px;
}

.jumbotron #textjumbo .fas{
    font-size: 40pt;
}

#imagejumbo{
    height: 80%;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    background-image: url(../img/jumbo.png);
    margin-top: 15px;
}





/* main */

h2{
    font-size: 25pt;
}

h3{
    font-size: 18pt;
}

/* sezione 1 */

#sezione1{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
}


/* pulsanti fatturazione */

#fmensile{
    margin-top: 60px;
    margin-right: 20px;
}

.far{
    margin-right: 5px;
}

.fa-dot-circle{
    font-size: 11pt;
    color: rgb(22, 76, 255);
    margin-right: 7px;
}

.fa-circle{
    font-size: 11pt;
    color: lightgrey;
    font-weight: 100;
    margin-right: 7px;
    margin-left: 30px;
}


/* box piano pagamento */

.box-piano{
    width: calc(100% / 3 - 40px);
    height: 1000px;
    border: 1px solid rgb(214, 214, 214);
    margin-top: 50px;
    float: left;
}

#sezione1 .box-piano:nth-of-type(3){
    margin-left: 60px;
    margin-right: 60px;
}


.titoli-icone{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.textcontainer{
    padding: 30px 30px;
}

.textcontainer h3{
    font-size: 18pt;
    margin-bottom: 20px;
}

.textcontainer .periodo-uso{
    font-size: 11pt;
    color: rgb(22, 76, 255);
    margin-top: 5px;
    margin-bottom: 30px;
}

.testo-inferiore{
    font-size: 10pt;
}

.textcontainer .testo-inferiore div {
    display: inline-block;
    margin-bottom: 25px;
}

.testo-inferiore .btn.blu{
    margin-top: 20px;
}

.testo-inferiore .btn.blu a{
    color: white;
    line-height: 35px;
    text-align: center;
    padding: 5px 40px;
    height: 35px;
}

#acquista-ora{
    color: rgb(22, 76, 255);
}

#acquista-ora:hover{
    text-decoration: underline;
}

hr {
    width:18%;
    height:1px;
    background: rgb(185, 185, 185);
    margin: 30px 0px;
}

.box-piano .testo-inferiore h4{
    font-size: 12pt;
    margin-bottom: 20px;
}

.fa-check{
    color: rgb(22, 76, 255);
    margin-right: 5px;
}

.box-piano-inferiore{
    font-size: 10pt;
    width: 100%;
    border: 1px solid rgb(214, 214, 214);
    display: inline-block;
    margin-top: 50px;
}

.box-piano-inferiore h3{
    margin-bottom: 10px;
    display: inline-block;
}
.textcontainer .btn.blu{
    display: inline-block;
    float: right;
}

.textcontainer .btn.blu a{
    color: white;
    line-height: 35px;
    text-align: center;
    padding: 5px 40px;
    height: 35px;
}

.box-piano-inferiore p{
    margin-bottom: 30px;
}



/* sezione 2 */

#sezione2{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
}

#sezione2 img{
    width: 55%;
}

.text-partners{
    width: 40%;
    float: right;
    margin-left: 30px;
    margin-top: 50px;
}


.text-partners p{
    margin-top: 30px;
    font-size: 10pt;
    line-height: 1.7;
    margin-bottom: 30px;
}

.text-partners a{
    font-size: 11pt;
    padding: 10px 20px;
    border: 1px solid black;
   
}




/* sezione 3 */
#sezione3{
    width: 80%;
    margin: 0 auto;
    
}

.box-operazioni{
    margin-top: 30px;
    width: calc(100% / 3 - 40px);
    float: left;
    margin-bottom: 80px;
}

.box-operazioni img{
    display: block;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.box-operazioni p{
    margin-top: 20px;
    font-size: 10pt;
    line-height: 1.7;
}

#sezione3 .box-operazioni:nth-of-type(2),
#sezione3 .box-operazioni:nth-of-type(5){
    margin-left: 60px;
    margin-right: 60px;
}





/* sezione 4 */

#sezione4{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.titolo-loghi{
    width: 40%;
    margin-left: 127px;
    margin-bottom: 40px;
}

.titolo-loghi h2{
    margin-bottom: 20px;
}

.titolo-loghi a{
    color: rgb(22, 76, 255);
}

.titolo-loghi a:hover{
    text-decoration: underline;
}


/* box dei loghi */

.box-container{
    width: 100%;
    height: 28vw;
    background-color: rgb(245 245 245);
}

.box-snt{
    float: left;
    width: 28vw;
    height: 28vw;
    
}

.testo-centrale{
    float: left;
    margin: 0 auto;
    padding: 50px 40px;
    width: 37vw;
    font-size: 11pt;
}

.testo-centrale p:nth-of-type(2){
    margin-top: 20px;
}

.testo-centrale img{
    width: 10vw;
}


.box-dst{
    float: right;
    width: 28vw;
    height: 28vw;
    
}

.box-designit{
    width: 14vw;
    height: 14vw;
    background-color: rgb(162 211 155);
    border: 10px solid rgb(208 233 205);
    float: left;
    background-image: url(../img/designit.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
     
}

.box-asu{
    width: 14vw;
    height: 14vw;
    background-color: rgb(97 8 43);
    float: left;
    background-image: url(../img/arizona_state_university.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    
}


.box-uf{
    width: 14vw;
    height: 14vw;
    background-color: rgb(0 147 206);
    float: left;
    background-image: url(../img/university_of_florida.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.box-topps{
    width: 14vw;
    height: 14vw;
    background-color: rgb(255 28 28);
    float: left;
    background-image: url(../img/topps.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.box-wbr{
    width: 14vw;
    height: 14vw;
    background-color: rgb(213 0 31);
    float: left;
    background-image: url(../img/world_bicycle_relief.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.box-hearst{
    width: 14vw;
    height: 14vw;
    background-color: rgb(180 208 231);
    float: left;
    background-image: url(../img/hearst_corp.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.box-lonely{
    width: 14vw;
    height: 14vw;
    background-color: rgb(13 36 129);
    float: left;
    background-image: url(../img/lonely_planet.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.box-clear{
    width: 14vw;
    height: 14vw;
    background-color: rgb(255 216 48);
    float: left;
    background-image: url(../img/clear_channel.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
 
}


.box-sottostante{
    width: 100%;
    background-color: rgb(180 208 231);
    padding: 80px 90px;
    
}

.box-sottostante h2{
    color: rgb(97 8 43);
    float: left;
    width: 40%;
    
}
    
.box-sottostante a{
    float: right;
    padding: 10px 30px;
    background-color: white;
}






/* sezione 5 */

#sezione5{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
}

#sezione5 h2{
    line-height: 5.0;
    border-bottom: 1px solid rgb(214, 214, 214);
    line-height: 5.0;
}


#sezione5 ul{
    list-style: none;
    font-weight: bold; 
} 

#sezione5 ul li{
    
    line-height: 5.0;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.fa-chevron-right{
    margin-left: 400px;
}






/* footer */

footer{
    width: 100%;
    height: 450px;
    background-color: black;
    padding: 50px 70px;
    color: white;
}

.lista{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 30px;
}

footer ul li:first-child{
    font-size: 16pt;
    font-weight: 700;
    margin-bottom: 20px;
}

footer ul{
    float: left;
    width: calc(100% / 5);
    list-style: none;
}

footer a{
    color: white;
    line-height: 2.0;
   
}

footer a:hover{
    text-decoration: underline;
}

footer hr{
    width: 10%;
}

footer .lingue{
    font-size: 10pt;
    color: gray;
    margin-top: 50px;
}

.lingue .fa-caret-right{
    margin-left: 5px;
}







/* ***** debug ***** */

/* .debug header{
    background-color: rgb(64, 223, 223);
} */

/* .debug #nav-left, .debug #nav-right{
    background-color: blue;
} */ */

/* .debug .jumbotron{
    background-color: coral;
} */

/* .debug main #sezione1{
    background-color: rgb(79, 212, 79);
    height: 1000px;
} */

/* .debug #sezione1 h2{
    background-color: yellow;
} */

 /* .debug main #sezione2{
    background-color: rgb(165, 216, 45);
    height: 400px;
} */

/* .debug main #sezione3{
    background-color: rgb(216, 65, 45);
    height: 500px; 
} */

/* .debug main #sezione4{
    background-color: rgb(243, 61, 167);
    height: 500px;
}

.debug main #sezione5{
    background-color: rgb(61, 161, 243);
    height: 300px;
}


.debug footer {
    height: 500px;
} */